############################
# ECOMMERCE MAXMIND MINFRAUD
############################

MinFraudAPIConnector:
  ### REQUIRED ###
  account_id: ""
  ### REQUIRED ###
  license_key: ""


############################
############################
